<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag 'recipes', media: 'all' %>
<div class="d-flex flex-column gap-4 align-items-center">
 <div class="new-recipe">
 <%= link_to "New recipe", new_recipe_path, class: "btn btn-success" %>
 </div>
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>  
<% if @recipes.empty? %>
  <div class="d-flex justify-content-center m-5 p-5">
    <p class="h2 text-secondary">You have no Recipes</p>
  </div>
<% end %>