<h1>Recipes</h1>

<div class="recipeDiv">
<div id="is_public">
<%= link_to 'New Recipe', new_recipe_path, class: ' add-button new-recipe-link' %>
</div>
<% @recipes.each do |recipe| %>
  <div class="recipe">
  <div>
    <div class="d-flex">
      <p class="recipe_name"><%= link_to recipe.name, recipe_path(recipe) %></p>
      <p class="recipe_description"><%= recipe.description %></p>
    </div>
    <span class="Delete"><%= button_to "Remove", recipe_path(recipe.id), method: :delete, data: { confirm: "Are you sure?" } %></span>
    </div>
  </div>
<% end %>

</div>
