<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag 'foods', media: 'all' %>

<div class="food-container">

<div class="new-food-container">
<%= link_to "New food", new_food_path, class: "link-btn btn-hover"%>
</div>

<% if @foods.empty? %>
<p>No food</p>
<% else %>
<table class="table-container">
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </tbody>
</table>
<% end %>
</div>