/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#is_public{
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 1rem 0 ;
}

.add-button{
    border: 1px solid #000;
    padding: 1rem;
}

.user-sign-in-link ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

h2,h1{
    text-align: center;
}

.recipe{
    width: 100%;
    border: 1px solid #000;
    margin: 1rem 0;
    padding: 1rem;
}

.d-flex{
    display: flex;
}

.recipe_name{
    width: 30%;
}

.recipe_description{
    display: 70%;
}

.Remove{
    margin: 1rem 0;
}

#recipe_id{
    display: flex;
}

.created_by{
    width: 30%;
}

.price{
    width: 70%;
}

.recipe_data{
    width: 100%;
    justify-content: space-between;
    margin: 1rem 0;
}