* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.recipe-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recipe-list {
  width: 60%;
  display: flex;
  border: solid 2px #000;
  gap: 20px;
  padding: 6px 10px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.title {
  display: flex;
  flex-direction: column;
}

.new-recipe {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.recipe-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
}

.details-container {
  display: flex;
  gap: 10px;
  margin-left: 15rem;
}

.save {
  border: none;
  padding: 2px 5px;
  color: white;
  background-color: #000;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}
